*{
  background-color: #99F;
  text-align: center;
}

.task-delete {
  color: red;
  float: right;
  
}

.task-item {
  border: 1px solid black;
  list-style-type: none;
  margin-top: 20px;
  margin-left:10px;
  border-radius: 10%;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
}

li.task-items {
  text-decoration: line-through; 
  color: red;

}

.task-list {
  width: 45%;
  text-decoration-style: none;
  text-align: center;
  margin: 0 auto;
}

.task-bar{
  width: 43%;
  margin: 20px auto;
}

.task-bar>input{
  width: 100%;
  min-height: 40px;
  font-size: 30px;
}

.task-bar2{
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.task-bar2>button{
  float: left;
  width: 50%;
  background-color: #ea3;

}