

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.task-delete {
  color: red;
  float: right;
  
}

.task-item {
  border: 1px solid black;
  list-style-type: none;
}

li.task-items {
  text-decoration: line-through; 
  color: red;
}

.task-list {
  width: 45%;
  text-decoration-style: none;
}

.task-bar{
  width: 45%;
}

.task-bar>input{
  width: 80%;
}

.task-bar>button{
  width: 18%;
}